#content{
	margin-top: 20px;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	min-width: 800px;
	background-color: #FFF5EE;

  box-shadow: 1px 1px 5px 5px rgba(0, 0, 255, 0.2);	
}

#something{
	padding: 10px;
}